body{
  background-color: whitesmoke;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


.header{
  background-color: #C10708;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif; 
  font-weight: 200;
  width: 40vw;
  height: 10vh;
}
@media only screen and (max-device-width: 480px){
  .header{
    background-color: #C10708;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif; 
    font-weight: 200;
    width: 90vw;
    height: 10vh;
}
}
.text{
  position: relative;
  top: 4px;
}
.cal__body{
  height: 90vh;
  width: 40vw;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px #888888;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

}
@media only screen and (max-device-width: 480px){
  .cal__body{
    height: 90vh;
  width: 90vw;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px #888888;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  }
}
.cal__content{
  margin-top: -6px;
  box-shadow: 2px 1px 6px 2px #ccc;
  width: 37vw;
  height: 75vh;
}
@media only screen and (max-device-width: 480px){
  .cal__content{
    margin-top: -6px;
    box-shadow: 2px 1px 6px 2px #ccc;
    width: 75vw;
    height: 75vh;
  } 
}
.format__cal{
  display: block;
  justify-content: center;
}
.inside__font{
  font-size: 16px;
  color:rgba(121, 117, 117, 0.8);
}
@media only screen and (max-device-width: 480px){
  .inside__font{
    font-size: 20px;
    color:rgba(121, 117, 117, 0.8);
  }
}
.input_box{
  margin-top: -50px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  
  
}
.style_input{
  width: 17vw;
  height: 4vh;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}
@media only screen and (max-device-width: 480px){
  .style_input{
    width: 60vw;
  height: 5vh;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  }
}
::placeholder{
  color:rgba(121, 117, 117, 0.8);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  padding: 5px;
}

@media only screen and (max-device-width: 480px){
  ::placeholder{
    color:rgba(121, 117, 117, 0.8);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    padding: 5px;
  }
}

.style_button{
  font-family: sans-serif;
  width: 18vw;
  height: 6vh;
  border: none;
  margin: 10px;
  padding: 0px;
  color: white;
  font-size: 20px;
  background-color: rgb(204, 71, 71);
}
@media only screen and (max-device-width: 480px){
  .style_button{
    font-family: sans-serif;
  width: 60vw;
  height: 6vh;
  border: none;
  margin: 10px;
  padding: 0px;
  color: white;
  font-size: 22px;
  background-color: #C10708;
  }  
}
.hr__style{
  
  border: 0;
  width:92%;
  height: 2.5px;
  background: rgb(204, 71, 71);
  margin-top: 3rem;
  
  
}
@media only screen and (max-device-width: 480px){
  .hr__style{
  
    border: 0;
    width:92%;
    height: 2.5px;
    background: rgb(204, 71, 71);
    margin-top: 3rem;
    
    
  }
}
.style_input_result{
  width: 17vw;
  height: 4vh;
  margin: 5px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 3px;
  outline: none;
}
@media only screen and (max-device-width: 480px){
  .style_input_result{
    width: 60vw;
    height: 4vh;
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 3px;
    outline: none;
  } 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
